services:
  db:
    image: postgres:16.3
    container_name: postgres_container
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
      POSTGRES_DB: coursesdb
    ports:
      - "5432:5432"

